.col-md-2{
    margin-top: 50px !important;
    background-color: antiquewhite;
    border: 2px solid !important;
    margin: 15px;
    height: 150px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(200,200,200,0.8), 0 6px 20px 0 rgba(200,200,200,0.8);
    cursor: pointer;
}
 .col-md-2:hover{
    height: 180px;
    width: 120px;
    background-color: coral; 
} 

.row{
    margin-left:0px;
    margin-right: 0px;
    position:relative;
    left: 2%;
   
}
*{
    box-sizing: border-box;
}
.itemName{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.itemArtist{
    text-align: center;

}
.rowModal{
    margin-top:30px;
}
.modalSpan{
    margin:0px 20px 0px 20px;

}
.modalItem{
    color: darkorange;
}
.tagButton{
    background-color:darkorange;
    color: white;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
}
img{
    border-radius:10px;
}
p{
    width: 80%;
    height: 190px;
    overflow:hidden;
    margin-top:10px;
}
.btn-danger{
    border-radius:10px;
}
.notFound{
    height: 200px;
    text-align: center;
    margin-top:200px;
}